/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

nav {
  width: 100%;
  position: relative;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.logo {
  color: #f4f4f4;
  display: flex;
  align-items: end;
  justify-content: center;
  column-gap: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  color: #f4f4f4;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
}

nav button {
  padding: 0.6rem 1.4rem;
  background-color: #ffa63a;
  border: none;
  font-size: 1.02rem;
  color: #333;
  font-weight: 500;
}

.page-1 {
  height: 100vh;
  background: rgb(57, 96, 81);
  background: linear-gradient(
    192deg,
    rgba(57, 96, 81, 1) 79%,
    rgba(244, 244, 244, 1) 79%
  );
}

.page-1-cont {
  display: flex;
  align-items: end;
  height: 100%;
}

.page-1-left {
  width: 50%;
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-up {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  row-gap: 2rem;
}

.left-up h1 {
  font-size: 3.5rem;
  color: #f4f4f4;
  line-height: 4rem;
}

.left-up p {
  font-size: 1.1rem;
  color: #a1a1a1;
  margin-bottom: 1rem;
}

.page-1-btn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.page-1-btn a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #333;
}

.btn-1 {
  background-color: #ffa63a;
}

.btn-2 {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(245, 245, 245, 0.5);
}

.page-1-btn .btn-2 {
  color: #f4f4f4;
}

.page-1-btn .btn-2:hover {
  background-color: rgba(245, 245, 245, 0.5);
  color: #333;
}

.page-1-btn .btn-1:hover {
  background-color: #333;
  color: #a1a1a1;
}

.left-below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
  color: #ffa63a;
  padding: 0 9rem;
}

.add h3 {
  font-size: 2rem;
}

.add p {
  font-size: 1.2rem;
}

.add.one {
  transform: translateY(-3rem);
}
.add.two {
  transform: translateY(-1.5rem);
}

.page-1-right {
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.hero-img {
  height: 70%;
  overflow: hidden;
  display: flex;
}

.hero-img:hover img {
  transition: all 300ms ease-in-out;
  transform: scale(1.2);
}

.social {
  height: 25%;
  display: flex;
  align-items: start;
  box-sizing: border-box;
  justify-content: end;
  padding: 2rem 4rem;
  column-gap: 1.5rem;
}

.social i {
  font-size: 2.1rem;
  color: #dfdfdf;
  cursor: pointer;
}

.social i:hover {
  color: #74948c;
}

.copyright {
  height: 5%;
  display: flex;
  justify-content: end;
  padding: 0 4rem;
  align-items: start;
  font-size: 0.9rem;
}

.copyright a {
  text-decoration: none;
  color: #dfdfdf;
}

/* page-2 */
.page-2 {
  height: 100vh;
  background-color: rgba(244, 244, 244, 1);
}

.page-2-cont {
  display: flex;
  align-items: center;
  height: 100%;
}

.page-2-left {
  display: flex;
  column-gap: 1rem;
  /* transform: translateX(-5rem); */
}

.img-satu {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 10rem;
  transition: width 2s;
}

.img-satu:hover {
  width: 450px;
}

.img-dua {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-2-right {
  display: flex;
  flex-direction: column;
  padding: 0 4.5rem;
  row-gap: 1.5rem;
}

.page-2-right h1 {
  font-size: 3.5rem;
  max-width: 30rem;
  color: #333;
  line-height: 4.5rem;
}

.page-2-right p {
  font-size: 1.2rem;
  color: #787878;
  margin-bottom: 1.5rem;
}

.page-2-btn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.page-2-btn a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #f4f4f4;
}

.page-2-btn .a-1 {
  background-color: #74948c;
}

.page-2-btn .a-1:hover {
  background-color: rgba(57, 96, 81, 1);
}

.page-2-btn .a-2 {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(57, 96, 81, 0.5);
  color: rgba(57, 96, 81, 1);
}

.page-2-btn .a-2:hover {
  background-color: #787878;
  color: #dfdfdf;
}

/* catalog */
.catalog {
  min-height: 100vh;
  background-color: #74948c;
}

.catalog-cont {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 0px;
  box-sizing: border-box;
}

.catalog-cont div {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  border: 1px solid #cecece;
}

.catalog-cont .cat-title {
  grid-column: auto / span 2;
  /* border: 2px solid #74948c; */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 2.5rem;
  background: linear-gradient(
    215deg,
    rgba(57, 96, 81, 0) 15%,
    rgba(241, 241, 241, 1) 15%
  );
  padding: 0 4rem;
}

.catalog-cont h2 {
  max-width: 80%;
  box-sizing: border-box;
  color: #333;
  line-height: 5rem;
}
.deko {
  padding: 0 4rem;
}

.collect {
  align-self: center;
}
.catalog-cont div:hover {
  transform: scale(1.05);
}

.page-4 {
  height: 73vh;
  position: relative;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  background-color: rgba(244, 244, 244, 1);
  padding: 4rem 0 3rem 0;
  box-sizing: border-box;
}

.footer-up {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer {
  display: flex;
  align-items: center;
  width: 40%;
  column-gap: 2.5rem;
}

.main-footer p {
  max-width: 20rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.3rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  color: #333;
}

.main-text h4 {
  font-size: 1.4rem;
}

.main-text p {
  font-size: 0.9rem;
}

.download {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.download a {
  max-width: 12rem;
  padding: 0.5rem 2rem;
  border: 1px solid #333;
  border-radius: 2rem;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.download a:hover {
  background-color: rgba(57, 96, 81, 1);
  color: #dfdfdf;
}

.link {
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 0.8rem;
  align-self: flex-end;
}

.link h4 {
  font-size: 1.4rem;
  color: #333;
}

.tautan {
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.link-list ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.link-list ul li {
  list-style: none;
}

.link-list ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.feed-button {
  position: absolute;
  transform: rotate(-90deg);
  right: -2.8rem;
  background-color: #74948c;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: start;
}
.feed-button a {
  /* border: 2px solid red; */
  text-decoration: none;
  color: #f4f4f4;
  padding: 0.5rem 1rem;
}

.feed-button:hover {
  right: -2.5rem;
  box-shadow: 0 0 10px 2px #ffa63a;
}

.footer-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.social-footer {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.social-footer div {
  border: 1px solid rgba(184, 184, 184, 0.5);
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  transition: all 300ms;
  cursor: pointer;
}

.social-footer div:hover {
  background-color: rgba(57, 96, 81, 1);
}

.social-footer div:hover i {
  color: rgba(244, 244, 244, 1);
}

.language p {
  text-transform: uppercase;
  color: #676767;
  cursor: pointer;
}

.language span {
  font-weight: bold;
  color: #333;
}

.footer-below {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.border {
  display: flex;
  justify-content: center;
  width: 100%;
}

.border-line {
  border-top: 1px solid rgba(184, 184, 184, 0.5);
  width: 90%;
}

.below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.1rem;
  min-height: 6rem;
}

.foot {
  display: flex;
  column-gap: 0.5rem;
}

.foot a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
}
